# netbeans project files
nbproject

# phpstorm project files
.idea

# Vagrant folder
.vagrant

# composer itself is not needed
composer.phar

# composer vendor dir
/vendor

# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store